HLTHPRT_LOG_CFG=./logging.yaml
HLTHPRT_RELEASE="dev"
HLTHPRT_ENVIRONMENT=test

HLTHPRT_DB_POOL_MAX_SIZE=10
HLTHPRT_DB_POOL_MIN_SIZE=1

#adding this will push service to work via socks proxy
#HLTHPRT_SOCKS_PROXY='socks5://127.0.0.1:5545'

HLPRT_DB_PORT=5432
HLTHPRT_DB_HOST=localhost
HLTHPRT_DB_DATABASE=healthporta
HLTHPRT_DB_SCHEMA='mrf'
HLTHPRT_DB_USER=dmytro
HLTHPRT_DB_PASSWORD=''
HLTHPRT_DB_ECHO=
HLTHPRT_ENABLE_SCHEMA_CACHE=false
HLTHPRT_REDIS_ADDRESS=redis://127.0.0.1:6379
HLTHPRT_REDIS_CONN_TIMEOUT_SECONDS=10
HLTHPRT_REDIS_CONN_RETRIES=10
HLTHPRT_REDIS_CONN_RETRY_DELAY_SECONDS=1
HLTHPRT_REDIS_RETRY_ON_TIMEOUT=true
HLTHPRT_PRICING_DEFAULT_YEAR=2023
HLTHPRT_CLAIMS_IMPORT_BATCH_SIZE=100000
HLTHPRT_CLAIMS_MIN_YEAR=2023
HLTHPRT_CLAIMS_MAX_YEAR=2023
HLTHPRT_CLAIMS_TEST_PROVIDER_ROWS=5000
HLTHPRT_CLAIMS_TEST_PROVIDER_SERVICE_ROWS=10000
HLTHPRT_CLAIMS_TEST_GEO_SERVICE_ROWS=2000
HLTHPRT_CLAIMS_TEST_MAX_DOWNLOAD_BYTES=26214400
HLTHPRT_CLAIMS_PARALLEL_LOAD=true
HLTHPRT_CLAIMS_MARK_DONE_RETRIES=8
HLTHPRT_CLAIMS_MARK_DONE_RETRY_BASE_SECONDS=0.5
HLTHPRT_CLAIMS_MARK_DONE_RETRY_MAX_SECONDS=10
HLTHPRT_COST_LEVEL_MIN_PEER_CLAIMS=11
HLTHPRT_COST_LEVEL_MIN_PEER_PROVIDERS=10
HLTHPRT_COST_LEVEL_OUTLIER_IQR_FACTOR=1.5
HLTHPRT_COST_LEVEL_CONFIDENCE_LOW_LT=11
HLTHPRT_COST_LEVEL_CONFIDENCE_MEDIUM_LT=51
HLTHPRT_DRUG_CLAIMS_IMPORT_BATCH_SIZE=100000
HLTHPRT_DRUG_CLAIMS_MIN_YEAR=2023
HLTHPRT_DRUG_CLAIMS_MAX_YEAR=2023
HLTHPRT_DRUG_CLAIMS_TEST_PROVIDER_DRUG_ROWS=10000
HLTHPRT_DRUG_CLAIMS_TEST_SPENDING_ROWS=2000
HLTHPRT_DRUG_CLAIMS_TEST_MAX_DOWNLOAD_BYTES=26214400
HLTHPRT_DRUG_CLAIMS_MARK_DONE_RETRIES=8
HLTHPRT_DRUG_CLAIMS_MARK_DONE_RETRY_BASE_SECONDS=0.5
HLTHPRT_DRUG_CLAIMS_MARK_DONE_RETRY_MAX_SECONDS=10
HLTHPRT_RX_CROSSWALK_SOURCE=hybrid
HLTHPRT_RX_CROSSWALK_LIVE_FALLBACK=true
HLTHPRT_RX_CROSSWALK_CONFIDENCE_MIN=0.85
HLTHPRT_RX_CROSSWALK_BATCH_SIZE=5000
HLTHPRT_RX_CROSSWALK_MAX_NDC_PER_CODE=5
HLTHPRT_RX_CROSSWALK_MAX_RXNORM_PER_CODE=5
HLTHPRT_RX_CROSSWALK_SNAPSHOT_SCHEMA=rx_data
HLTHPRT_RX_CROSSWALK_SNAPSHOT_PRODUCT_TABLE=product
HLTHPRT_RX_CROSSWALK_SNAPSHOT_PACKAGE_TABLE=package
HLTHPRT_RX_CROSSWALK_LIVE_BASE_URL=http://127.0.0.1:8087
HLTHPRT_RX_CROSSWALK_LIVE_MAX_CODES=400
HLTHPRT_RX_CROSSWALK_LIVE_MAX_PRODUCTS_PER_CODE=12
HLTHPRT_RX_CROSSWALK_LIVE_CONCURRENCY=8
HLTHPRT_RX_CROSSWALK_LIVE_TIMEOUT_SECONDS=12

HLTHPRT_CMSGOV_MRF_URL_PUF='https://download.cms.gov/marketplace-puf/2023/machine-readable-url-puf.zip'
HLTHPRT_CMSGOV_PLAN_TRANSPARENCY_URL_PUF='[{"year": "2023", "url": "https://download.cms.gov/marketplace-puf/2023/transparency-in-coverage-puf.zip"}, {"year": "2022", "url": "https://download.cms.gov/marketplace-puf/2022/transparency-in-coverage-puf.zip"}, {"year": "2021", "url": "https://download.cms.gov/marketplace-puf/2021/transparency-in-coverage-puf.zip"}]'
HLTHPRT_SAVE_PER_PACK=100
