[MAIN]
extension-pkg-allow-list=orjson
ignore=alembic,restore,tests,__test__
jobs=1
persistent=no

[MESSAGES CONTROL]
disable=all
enable=
    assignment-from-no-return,
    invalid-unary-operand-type,
    no-value-for-parameter,
    no-member,
    no-name-in-module,
    not-a-mapping,
    not-an-iterable,
    not-callable,
    repeated-keyword,
    too-many-function-args,
    unsubscriptable-object,
    unexpected-keyword-arg,
    unsupported-assignment-operation,
    unsupported-binary-operation,
    unsupported-delete-operation,
    unsupported-membership-test

[REPORTS]
output-format = text
reports=no
score=no
