aiocsv
aiohttp
redis[hiredis]>6.0.0
sanic
asyncpg>=0.29.0
#arq
git+https://github.com/dnikolayev/arq.git
gino>=1.1.0rc1
python-dotenv
alembic
ijson
python-dateutil
aiofile
async_unzip
httpx
humanize
pyaml
pytz
msgpack
pylightxl
fastcrc
socksio
aioshutil
ruamel.ext.msgpack
us
unicode-slugify
sanic_ext
geopandas
Jinja2
pytest
pytest-asyncio
pytest-cov
pytest-mock
sanic-testing
