aiocsv
aiofile
aiohappyeyeballs==2.6.1
aiohttp
aiohttp-socks
aioshutil
aiosignal==1.4.0
alembic
arq==0.26.3
async_unzip>=0.5.5
asyncpg>=0.29.0
attrs==25.4.0
coverage==7.11.0
fastcrc
frozenlist==1.8.0
geopandas
html5tagger==1.3.0
httpx
humanize
ijson
iniconfig==2.3.0
jellyfish==1.2.1
Jinja2
msgpack
numpy==2.3.4
pandas==2.3.3
pluggy==1.6.0
propcache==0.4.1
pyaml
pygments==2.19.2
pylightxl
pyogrio==0.11.1
pyproj==3.7.2
pytest
pytest-asyncio
pytest-cov
pytest-mock
python-dateutil
python-dotenv
python-socks==2.7.2
pytz
redis[hiredis]>5.0.0
ruamel.ext.msgpack
sanic
sanic-testing
sanic_ext
shapely==2.1.2
socksio
SQLAlchemy==2.0.44
tracerite==1.1.3
tzdata==2025.2
unicode-slugify
unidecode==1.4.0
us
yarl==1.22.0
