aiocsv
aiofile
aiohappyeyeballs>=2.7.1
aiohttp>=3.14.2
aiohttp-socks>=0.11.0
aioshutil
aiosignal>=1.4.0
alembic>=1.18.5
arq>=0.28.0
asyncpg>=0.31.0
attrs>=26.1.0
Brotli
cryptography>=49.0.0,<50
fastcrc
frozenlist>=1.8.0
geopandas
greenlet>=3.5.3
html5tagger>=2.0.0
httpx>=0.28.1
humanize
ijson>=3.5.1
inflate64>=1.0.4
jellyfish>=1.2.1
Jinja2
msgpack
numpy>=2.5.1
orjson>=3.11.9
pandas>=3.0.3
propcache>=0.5.2
pyaml>=26.7.0
pylightxl
pyogrio>=0.13.0
pyproj>=3.7.2
python-dateutil
python-dotenv>=1.2.2
python-socks==2.8.2
pytz
PyYAML>=6.0.3
rapidgzip==0.16.0
redis[hiredis]>=8.0.1,<9
ruamel.ext.msgpack
sanic>=25.12.1
sanic_ext>=25.12.0
shapely>=2.1.2
socksio
SQLAlchemy>=2.0.51
tracerite>=2.6.3,<2.7.0
tzdata>=2026.3
unicode-slugify
unidecode>=1.4.0
us
uvloop>=0.22.1
yarl>=1.24.5
