aiocsv==1.2.3
aiofile==3.8.1
aiofiles==22.1.0
aioshutil==1.2
alembic==1.9.1
anyio==3.6.2
arq==0.25
async-timeout==4.0.2
asyncpg==0.27.0
async-unzip==0.3.1
boltons==21.0.0
caio==0.9.11
certifi==2022.12.7
click==8.1.3
Faker==15.3.4
fastcrc==0.2.1
gino==1.0.1
greenlet==2.0.1
h11==0.14.0
hiredis==2.1.0
httpcore==0.16.3
httptools==0.5.0
httpx==0.23.3
humanize==4.4.0
idna==3.4
ijson==3.2.0.post0
Mako==1.2.4
MarkupSafe==2.1.1
msgpack==1.0.4
multidict==6.0.4
packaging==22.0
postal-address==22.4.22.1
pyaml==21.10.1
pycountry==22.3.5
pylightxl==1.61
python-dateutil==2.8.2
python-dotenv==0.21.0
pytz==2022.7
PyYAML==6.0
redis==4.4.0
rfc3986==1.5.0
sanic==22.12.0
sanic-routing==22.8.0
six==1.16.0
sniffio==1.3.0
socksio==1.0.0
SQLAlchemy==1.3.24
typing_extensions==4.4.0
ujson==5.6.0
uvloop==0.17.0
websockets==10.4
